body {
  --note-icon-1: url(/img/DGfavicon.svg);
body.title-note-icon .cm-s-obsidian > header > h1[data-note-icon="DGfavicon"]::before,
body.filetree-note-icon .filename[data-note-icon="DGfavicon"]::before,
body.links-note-icon .internal-link[data-note-icon="DGfavicon"]::before,
body.backlinks-note-icon .backlink[data-note-icon="1"]::before {
  background-image: url(/img/DGfavicon.svg);}

}






